anytree==2.8.0
bcrypt==3.2.0
boto3==1.16.20
botocore==1.19.20
cffi==1.14.3
click==7.1.2
cryptography==3.2.1
itsdangerous==1.1.0
jmespath==0.10.0
jsonify==0.5
numpy==1.19.4
paho-mqtt==1.5.1
pandas==1.1.4
paramiko==2.7.2
persist-queue==0.5.1
persistQueue==0.1.6
pip==20.2.4
pycparser==2.20
PyMySQL==0.10.1
PyNaCl==1.4.0
pyserial==3.4
python-dateutil==2.8.1
pytz==2020.4
s3transfer==0.3.3
setuptools==50.3.2
six==1.15.0
sshtunnel==0.3.1
urllib3==1.26.2
